<div>
	<center>
		<h2>
			About Maropost
		</h2>
		<%= image_tag "/assets/maro_image.png" %>
	</center>
	 <div class="row">
    <div class="col-sm-8">
      <p>
					Maropost is the leading global provider of on-demand marketing, sales, commerce, and infrastructure solutions. We offer the world’s best marketing and sales cloud platforms combined with industry leading customer support and client success.
			  </p>
			  <p>	
			  	From web, to mobile, to social, and across email, SMS, and digital, our Marketing Cloud offers the industry’s most advanced personalization and automation features – all to make your life easier and to increase your marketing ROI.
			  </p>
			  <p>	
					Maropost was founded in 2011 by CEO and Chairman Ross Andrew Paquette. We are headquartered in Toronto, Canada, with offices in New York, USA, London, U.K., and Chandigarh, India.
				</p>	
				<p>
					Maropost Sales Cloud is the all-in-one platform for your sales, customer service, and commerce departments. Our Sales Cloud was built from the ground up to offer combined insight and complete integration for a 360 business view. With our first-class customer support, we’ve built the last sales platform you’ll ever use. And the best part? You can choose and customize what features you want. Because the challenges your business is facing are unique, and you need a tailored solution for maximum success.	
				</p>	
    </div>
    <div class="col-sm-4">
      <%= image_tag "/assets/dummy_image.png" %>
    </div>
  </div>
</div>	