<div class="footer navbar-fixed-bottom" >
    <div class="container-fluid" style="border:20px; border-style: solid; height:10%; width:100%;" >
        <h4 align= "center"> © 2017 Maropost Inc. All rights reserved. | <a href="/static_content/contact_us_form"> Contact Us </a> </h4>
    </div>
</div>