<!-- 
<div class="footer navbar-fixed-bottom" >
    <div class="container-fluid">
        <h4 align= "center"> © 2017 Maropost Inc. All rights reserved. | <a href="/static_content/contact_us_form" data-turbolinks="false"> Contact Us </a> </h4>
    </div>
</div> -->
</br>
<footer class="page-row navbar-fixed-bottom" id ="footer">
  <div class="container">
      <div class="row">
        <div class="col-sm-8 col-md-6">
          <p   align= "center">© 2017 Maropost Inc. All rights reserved. | <a href="/static_content/contact_us_form" data-turbolinks="false"> Contact Us </a>  </p>
        </div>

      </div>
  </div>
</footer>